
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh; /* Full height of the viewport */
  background-color: black;/* Light background similar to modern websites */
  overflow-x: hidden;
}